* {
    box-sizing: border-box;
}
body,
html {
  background-color: #000;
  font-family: "Noto Serif", serif;
  color: #fff;
}
.main-section {
  padding: 20px;
}
.main-section .box {
    position: relative;
}
.main-section .box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    color: #fff;
    bottom: -10px;
    left: 0;
    box-shadow: 2px 2px 4px #fff;
  }
.main-section .loged-person,
.main-section .icon {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}
.main-section .stop-button {
    background-color: orangered;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    display: flex;
    margin-left: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.game {
    margin-top:40px;
}
.game .menu h4, .game .table h4{
    margin-bottom:20px ;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid orangered;
    box-shadow: 2px 2px 4px #fff !important;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    margin-left: 50%;
}
.game .drink {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.game .drink .box-drink {
    width: 200px;
    height:40px;
    border: 1px solid orangered;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #fff;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.game .drink .price input {
    width: 90px;
    height: 35px;
    border: 1px solid #fff;
    background: none;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}
.game .drink .price input:focus {
    outline: none !important;
}
button{
    border: 1px solid orangered;
    box-shadow: 2px 2px 4px #fff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px #fff !important;
    color: #fff;
}
.game .table .book button,.game .table .start button {
    font-weight: bolder;
    font-style: italic;
    font-size: 35px;
}
.game .table .book button {
    width: 200px;
}
.game .table .start button {
    width: 280px;
}
.game .table .device button{
    width: 150px;
}
.game .table .timer button {
    width: 150px;
}
.boards .reserved-box {
    color: orangered !important;
    width: 120px;
    height: 100px;
    padding: 8px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 4px #fff !important;
    background-color: #eee;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}
@media (max-width: 991px) {
    .boards .master {
        .main-section,.game, .boards {
            text-align: center;
        }
    }
    .game .table .book button {
        width: 150px;
    }
    .game .table .start button {
        width: 180px;
    }
    .game .table .device button{
        width: 110px;
    }
} 